In [6]:
#finding fahrenheit and celsius
f_ah=float(input('enter the fahrenheit'))
C_el=float(input('enter the celsius'))
c=(f_ah-32)*5/9
F=(C_el*9/5) + 32
print(F,c)

enter the fahrenheit2
enter the celsius3
37.4 -16.666666666666668

In [7]:
#using boolean to the truity and falsity of odd and even numbers
list_1=[1,2,3,4,5,6,7,8,9]
even_2=[]
odd_3=[]
for i in list_1: 
    even_2.append(i%2==0)
print(even_2)
for x in list_1:
    odd_3.append(x%2==1)
print(odd_3)

[False, True, False, True, False, True, False, True, False]
[True, False, True, False, True, False, True, False, True]

In [9]:

odd=0
even=0
for i in range(1,10):
    if i%2==0: 
        even+=1
    else:
        odd+=1
print(even)
print(odd)

4
5

In [10]:
#iterates the integers from 1 to 50 and print out for the given three conditions
for n in range (1,51):
    if  (n%5==0) &(n%3==0):
        print("fizzbuzz") 
    elif n%3==0:
        print("fizz") 
    elif n%5==0:
        print("buzz")
    else:
        print(n)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [18]:
#union of sets
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [19]:
##intersection of sets
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1&set_2

{2, 3, 5}

In [20]:
##difference of sets
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1.difference(set_2)

{1, 4}

In [31]:
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_3={'orange','mango'}
set_1.update(set_3)
print(set_1)
set_1.remove('orange')
print(set_1)

{1, 2, 3, 4, 5, 'orange', 'mango'}
{1, 2, 3, 4, 5, 'mango'}

In [33]:
##subset of sets
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1.issubset(set_2)

False

In [35]:
#superset
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1.issuperset(set_2)

False

In [36]:
#disjoint
set_1={1,2,3,4,5}
set_2={2,9,8,3,5,6}
set_1.isdisjoint(set_2)

False

In [18]:
age=int(input('enter the age'))
if age<10:
    print('accepted')
elif (age>12)&(age<20):
    print ('not accepted')
elif age>20:
    print('accepted')

enter the age13
not accepted

In [20]:
#binary operation 
t=int(input('enter the score'))
x=float(input('enter the first number'))
y=float(input('enter the second number'))
z=float(input('enter the third number'))
def adder(x,y,z):
    print("sum:",x^t**2+y^t**1+z^t**0)

adder()

enter the score2

ValueError: could not convert string to float: 'enter the first number'